@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans:300,300i,400,400i,600,600i,700,700i");




body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

body, ul, #navbarNav {
  margin: 0;
  padding: 0;
}
#navbarNav {
  justify-content: flex-end !important;
}
#navbarNav img {
  margin-right: auto; /* Cette propriété pousse l'image vers la gauche */
  top : 0;
  left : 0 ;
}


.navbar > .container,
.navbar > .container-fluid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}




.navbar-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


/* Styles pour les écrans de petite taille (sm) */
@media (min-width: 576px) {
  .d-sm-block {
      display: block !important;
  }
}

/* Styles pour les écrans de taille moyenne (md) et plus petits */
@media (max-width: 768px) {
  .d-md-none {
      display: none !important;
  }
}


/* Ajoutez ces classes pour la visibilité en fonction de la taille de l'écran */
.d-none {
  display: none !important;
}

.d-lg-block {
  display: none !important;
}

@media (min-width: 992px) {
  .d-lg-block {
      display: block !important;
  }
}





@media (min-width: 992px) {
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}



.navbar-dark .navbar-brand {
  color: #fff;
}



.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}








.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}



.card-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.card img.card-img-top {
  /* Ajoutez les styles spécifiques à la classe card-img-top ici */
  width: 100%; /* Ajustez la largeur selon vos besoins */
  height: auto; /* Pour conserver les proportions de l'image */
  border-top-left-radius: 0; /* Ajustez la bordure si nécessaire */
  border-top-right-radius: 0; /* Ajustez la bordure si nécessaire */
}

.card img.card-img-top1 {
  /* Ajoutez les styles spécifiques à la classe card-img-top ici */
  width: 100%; /* Ajustez la largeur selon vos besoins */
  height: auto; /* Pour conserver les proportions de l'image */
  border-top-left-radius: 0; /* Ajustez la bordure si nécessaire */
  border-top-right-radius: 0; /* Ajustez la bordure si nécessaire */
}









.bg-dark {
  background-color: #212529 !important;
}




.border {
  border: 1px solid #dee2e6 !important;
}







p {
  font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1300 - 300)));
  font-weight: 100;
  opacity: 1;
  color: #111;
  letter-spacing: .6px;
}





/* sections */
.section {
  padding: 70px 10px;
}

.section .section-title {
  font-size: calc(20px + (35 - 20) * ((100vw - 300px) / (1300 - 300)));
}

.section .section-subtitle {
  margin-bottom: 6px;
  font-weight: 400;
  opacity: .6;
}

.section-sm {
  padding: 40px 0 !important;
}

.section-md {
  padding: 60px 0 !important;
}

.section-lg {
  padding: 100px 0 !important;
}


/* Ajoutez ce bloc de style dans la section <head> de votre document HTML */
#education h2 {
  font-size: 50px; /* Ajustez la taille de la police selon vos préférences */
  color: #695aa6;
  padding: 30px;
  text-align: center;
}

#education ul li strong {
  font-size: 18px; /* Ajustez la taille de la police selon vos préférences */
}

#education ul li p {
  font-size: 16px; /* Ajustez la taille de la police selon vos préférences */
}

/* projects */
#projects h2 {
  font-size: 50px; /* Ajustez la taille de la police selon vos préférences */
  color: #695aa6;
  padding: 30px;
  text-align: center;
}

#projects ul li strong {
  font-size: 18px; /* Ajustez la taille de la police selon vos préférences */
}

#projects ul li p {
  font-size: 16px; /* Ajustez la taille de la police selon vos préférences */
}

/* about me */

#about h2 {
  font-size: 50px; /* Ajustez la taille de la police selon vos préférences */
  color: #695aa6;
  padding: 30px;
  text-align: center;
}

#about ul li strong {
  font-size: 18px; /* Ajustez la taille de la police selon vos préférences */
}

#about ul li p {
  font-size: 16px; /* Ajustez la taille de la police selon vos préférences */
}

#contact0 h2 {
  font-size: 50px; /* Ajustez la taille de la police selon vos préférences */
  color: #695aa6;
  padding: 30px;
  text-align: center;
}

#contact0 ul li strong {
  font-size: 18px; /* Ajustez la taille de la police selon vos préférences */
}

#contact0 ul li p {
  font-size: 16px; /* Ajustez la taille de la police selon vos préférences */
}

#moim {
  background-color: #695aa6; /* Couleur de fond */
  color: #ffffff; /* Couleur du texte */
  padding: 30px; /* Espace intérieur */
  text-align: center; /* Alignement du texte */
}

/* Style de la section Contact */
#contact {
  background-color: #695aa6; /* Couleur de fond */
  color: #ffffff; /* Couleur du texte */
  padding: 30px; /* Espace intérieur */
  text-align: center; /* Alignement du texte */
}

.contact-header {
  font-size: 24px; /* Taille de la police pour l'en-tête */
  color: #343a40; /* Couleur du texte */
  margin-bottom: 20px; /* Marge en bas */
}

.contact-info {
  font-size: 16px; /* Taille de la police pour les informations de contact */
  color: #6c757d; /* Couleur du texte */
}

.contact-form {
  margin-top: 20px; /* Marge en haut pour la séparation */
}

/* Style pour les champs de formulaire, ajustez selon vos besoins */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form button {
  background-color: #007bff; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3; /* Couleur de fond du bouton au survol */
}


/* Section: Social Networks */
.section-networks {
  padding: 30px 0;
  text-align: center;
}

.section-networks .container {
  max-width: 460px;
}

.section-networks a {
  display: inline-block; /* Ajout de l'affichage en ligne pour que les liens soient côte à côte */
  margin: 10px 8px 5px;
  color: #ffffff;
  box-shadow: none;
}

.section-networks a:hover, .section-networks a:focus {
  background-color: #ffffff;
  color: #196fc2;
}

.bg-primary {
  
  background-color: #695aa6; /* Couleur de fond */
  color: #ffffff; /* Couleur du texte */
  padding: 30px; /* Espace intérieur */
  text-align: center; /* Alignement du texte */
  width: 100%;
  box-sizing: border-box;
}


.mon-image {
  top: 0;
  left: 0;
  width: 100px; /* ajustez la largeur selon vos besoins */
  height: auto; /* permet de conserver les proportions d'origine de l'image */
}
.mon{
  position: fixed;
  top: 0;
  right: 0;
}




@media only screen and (max-width: 600px) {

  .d-none {
    display: block !important;
}

.d-lg-block {
    display: none !important;
}
  body {
    width: auto;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
  
  
  
  .navbar > .container,
  .navbar > .container-fluid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  
  
  
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  
  
  
  
  
  @media (min-width: 656px) {
    .navbar-expand-lg {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0.8rem;
      padding-left: 0.8rem;
    }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
    }
    .navbar-expand-lg .navbar-collapse {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-flex-basis: auto;
          -ms-flex-preferred-size: auto;
              flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
      display: none;
    }
  }
  
  
  
  .navbar-dark .navbar-brand {
    color: #fff;
  }
  
  
  
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
  }
  

  /* Card */
.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}



.card-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}








.bg-dark {
  background-color: #212529 !important;
}




.border {
  border: 1px solid #dee2e6 !important;
}

  /* Sections */
  .section {
    padding: 40px 10px;
  }

  .section .section-title {
    font-size: 30px;
  }

  .section .section-subtitle {
    margin-bottom: 10px;
    font-weight: 400;
    opacity: .6;
  }

  /* Education Section */
  #education h2 {
    font-size: 30px;
    padding: 20px;
  }

  #education ul li strong {
    font-size: 16px;
  }

  #education ul li p {
    font-size: 14px;
  }

  /* projects */
  #projects h2 {
    font-size: 30px;
    padding: 20px;
  }

  #projects ul li strong {
    font-size: 16px;
  }

  #projects ul li p {
    font-size: 14px;
  }

  /* about me */
  #about h2 {
    font-size: 30px;
    padding: 20px;
  }

  #about ul li strong {
    font-size: 16px;
  }

  #about ul li p {
    font-size: 14px;
  }

  #contact0 h2 {
    font-size: 30px;
    padding: 20px;
  }

  #contact0 ul li strong {
    font-size: 16px;
  }

  #contact0 ul li p {
    font-size: 14px;
  }

  #moim {
    padding: 20px;
  }


  

  /* Contact Section */
  #contact {
    padding: 20px;
  }

  .contact-header {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .contact-info,
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    font-size: 14px;
  }

  /* Social Networks Section */
  .section-networks {
    padding: 20px 0;
  }

  .section-networks .container {
    max-width: none;
  }

  .section-networks a {
    margin: 5px;
  }

  /* Primary Background */
  .bg-primary {
    padding: 20px;
  }
}
